{% extends 'first.html' %}

{%load static%}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

{%block title%}
    <title>Login</title>
{%endblock%}




{% block content %}

<div class="container ende">
    {% for msg in messages %}

    {% if msg|truncatechars:14 == "Password Changed"|truncatechars:14 %}
        <div class="alert alert-success mt-4 alert-dismissible fade show msg" style="width: 450px;">
            <button type="button" class="close " data-dismiss="alert">x</button>
            {{ msg }}
        </div>
    {% elif msg|truncatechars:32 == "Password is changed successfully"|truncatechars:32 %}
        <div class="alert alert-success mt-4 alert-dismissible fade show msg" style="width: 450px;">
            <button type="button" class="close " data-dismiss="alert">x</button>
            {{ msg }}
        </div>
    {% else %}
        <div class="alert alert-danger mt-4 alert-dismissible fade show msg" style="width: 450px;">
            <button type="button" class="close " data-dismiss="alert">x</button>
            {{ msg }}
        </div>
    {% endif %}
    {% endfor %}
</div>

<form method="post" action="{% url 'user_login' %}">
    {% csrf_token %}
    <div class="container-fluid  cont-sett1" style="width: 1000px;">

        <div class="row no-gutters">
            <div class="col-6 fir">
                <h1 class=""></h1>
                <div class="py-5">
                    <img src="{% static 'image/login.png' %}" style="width: 100%;">
                </div>
            </div>
            <div class="col-6 sec">
                <div  align="center" class="pt-4">
                    <img src="{% static 'image/login_logo.png' %}" style="width: 15%;">
                </div>
                <h2 class="mt-2" align="center">WE-STORE</h2>
                <h6 class="pt-1" align="center">Welcome to the online handle of We-store. Availability to each and every person around the globe is the moto.</h6>
                <div style="margin-left: 50px;margin-right: 50px;margin-top: 40px;">
                    <div class="form-group">
                        <label class="form-label"><b>Username</b></label>
                        <input type="text" class="form-control" name="uname" placeholder="Enter Username" required>
                    </div>
                    <div class="form-group">
                        <label class="form-label"><b>Password</b></label>
                        <button id="toggle-password" class="toggle" type="button"><span id="togglebut" class="material-symbols-outlined">visibility_off</span></button>
                        <input id="password" type="password" class="form-control" name="upass" placeholder="Enter Password" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-outline-dark mt-4" style="width: 385px;"><b>LOGIN</b></button>
                    </div>
                    <div>
                        <small class="form-text text-muted">Don't have an account <a href="{% url 'signup_fun' %}" style="text-decoration: none;">Signup<i class='bx bxs-chevron-right' style="position:relative; top:2px; left:-27px;"></i></a></small>
                    </div>
                    <div>
                        <small class="form-text text-muted"><a href="{% url 'forgot_password' %}" style="text-decoration: none;">Forgot password<i class='bx bxs-chevron-right' style="position:relative; top:2px; left:-27px;"></i></a></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


{%endblock%}

