{% extends 'pages.html' %}

{%load static%}
<link rel="stylesheet" type="text/css" href="{% static 'css/style1.css' %}">

{%block title%}
    <title>Password</title>
{%endblock%}



{% block page %}
<div class="container ende">
    {% for msg in messages %}
    <div class="alert alert-danger mt-4 alert-dismissible fade show msg" style="width: 450px;">
        <button type="button" class="close " data-dismiss="alert">x</button>
        {{ msg }}
    </div>
    {% endfor %}
</div>


<div class="container-fluid contain" style="height: 60px;">
    <div class="row">
        <div class="col-2">
            <img src="{% static 'image/login_logo.png' %}" class="pt-1" style="width: 25%;">
        </div>
        <div class="col-8">

        </div>
        <div class="col-1">
            <a href="{% url 'prod_cart' %}"><i class='bx bxs-cart pt-3 cart_butt'></i>
            <div style="background-color: rgb(35, 161, 235); color:white; font-size:15px; width:25px; height:25px; justify-content:center; text-align:center; position:relative; bottom:45px; left:20px; border-radius:50%; padding-bottom:4px; text-decoration:none"><b>{{number}}</b></div></a>
        </div>
        <div class="col-1">
            {% if det.user_image == '/static/image/default.png' %}
                <a href="#"><img src="{% static 'image/default.png' %}" width="40" height="40" class="dropbtn mt-2 rounded-circle img-thumbnail shadow-sm" onclick="toggle1()"></a>
            {% else %}
                <a href="#"><img src="{{ det.user_image.url }}" width="40" height="40" class="dropbtn mt-2 rounded-circle img-thumbnail shadow-sm" onclick="toggle1()"></a>
            {% endif %}
        </div>
    </div>
</div>
<ul class="profile-dropdown-list">

    <li class="profile-dropdown-list-item">
        <a href="{% url 'store_fun1' %}" style="text-decoration: none;">
            <i class='bx bx-store'></i>
            My Store
        </a>
    </li>
    <li class="profile-dropdown-list-item">
        <a href="{% url 'user_fun' %}" style="text-decoration: none;">
            <i class='bx bxs-shopping-bag'></i>
            My Products
        </a>
    </li>
    <hr/>
    <li class="profile-dropdown-list-item">
        <a href="{% url 'logout' %}" style="text-decoration: none;">
            <i class='bx bx-log-out-circle'></i>
            Log out
        </a>
    </li>

</ul>



<div>
    <h3 class="pl-5 pt-4" style="color: black;">Change Password</h3>
</div>



<div class="container-fluid shadow rounded" style="background-color: white; margin-top:50px; padding:20px; padding-left:50px; width:800px;">

    <form method="post" action="{% url 'edit_password' det.user.id %}">
        {% csrf_token %}
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="opass"><b>Old Password</b></label>
                    <button id="toggle-password1" class="toggle1" type="button"><span id="togglebut1" class="material-symbols-outlined">visibility_off</span></button>
                    <input type="password" class="form-control" placeholder="Enter Old Password" style="width: 300px;" name="opass" id="password1" required>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="npass"><b>New Password</b></label>
                    <button id="toggle-password2" class="toggle2" type="button"><span id="togglebut2" class="material-symbols-outlined">visibility_off</span></button>
                    <input type="password" class="form-control" placeholder="Enter New Password" style="width: 300px;" name="npass" id="password2" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="cpass"><b>Confirm Password</b></label>
                    <button id="toggle-password3" class="toggle3" type="button"><span id="togglebut3" class="material-symbols-outlined">visibility_off</span></button>
                    <input type="password" class="form-control" placeholder="Confirm Password" style="width: 300px;" name="cpass" id="password3" required>
                </div>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-outline-dark" style="margin-top: 30px;width: 300px;"><b>CHANGE</b></button>
            </div>
        </div>

    </form>

</div>





<script type="text/javascript">

    let profileDropdownList = document.querySelector(".profile-dropdown-list");
    let btn = document.querySelector(".dropbtn");

    const toggle1 = ()=> profileDropdownList.classList.toggle("active");




        const passwordInput = document.getElementById('password1');
        const togglePasswordButton = document.getElementById('toggle-password1');
        const togglebutton = document.getElementById('togglebut1');

        togglePasswordButton.addEventListener('click', togglePassword1);

        function togglePassword1() {
        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            togglebutton.textContent = 'visibility';
        } else {
            passwordInput.type = 'password';
            togglebutton.textContent = 'visibility_off';
        }
        }


        const passwordInput1 = document.getElementById('password2');
        const togglePasswordButton1 = document.getElementById('toggle-password2');
        const togglebutton1 = document.getElementById('togglebut2');

        togglePasswordButton1.addEventListener('click', togglePassword2);

        function togglePassword2() {
        if (passwordInput1.type === 'password') {
            passwordInput1.type = 'text';
            togglebutton1.textContent = 'visibility';
        } else {
            passwordInput1.type = 'password';
            togglebutton1.textContent = 'visibility_off';
        }
        }



        const passwordInput2 = document.getElementById('password3');
        const togglePasswordButton2 = document.getElementById('toggle-password3');
        const togglebutton2 = document.getElementById('togglebut3');

        togglePasswordButton2.addEventListener('click', togglePassword3);

        function togglePassword3() {
        if (passwordInput2.type === 'password') {
            passwordInput2.type = 'text';
            togglebutton2.textContent = 'visibility';
        } else {
            passwordInput2.type = 'password';
            togglebutton2.textContent = 'visibility_off';
        }
        }

</script>






{% endblock %}


